@import "../../../../Styles/Shared/_Colors.less";
 .language-toggle {
    position:absolute;
    right:30px;
    top:-50px;
    cursor:pointer;
   
    width:auto;

    img {
        height:25px;
        width:25px;
        display:inline-block;
         display:inline-block;
        vertical-align:middle;
    }
    p {
        display:inline-block;
        vertical-align:middle;
        margin:0;
        font-size:12px;
        margin-left:5px;
    }

    &:hover {
        p {
            opacity:0.7;
        }
    }
}

.hej {
     padding-top:50px;  
     position:relative;

    h1 {
        color:@accent_turkois;
    }
    .text-wrapper {       
        vertical-align:middle;
        text-align:left;
       
        padding:1rem;

        .row {
            margin-bottom:2rem;
        }

        .col-md-10 {
            padding:0;
        }

        img {
            height:3.5rem;
            display:inline-block;
        }
        p {
            display:inline-block;     
        }

       
    }
    .img-wrapper {
        vertical-align:middle;
        padding-bottom:3rem;

        img {
            max-width:100%;
        }

    }

    
}
