<div class="creative container">
    <div class="row">
        <h5 class="ingress">Jag började sy när jag som fattig student ville ha de coolaste kläderna men inte hade råd med dem. Efter det har det bara fortsatt. Skapa-kläder-nerven liksom ligger och rycker när den inte har fått leka på ett tag. Både för att få nya, helt unika kläder. Men också för det beroendeframkallande kluriga fixadet och trixandet med att skapa egna mönster och sy dem från grunden. </h5>
    </div>
    <div clothes>
        <div class="row"
             ng-repeat="collection in imgData">
            <div class="collection-header">
                <h4>{{collection.collection}}</h4>
            </div>
            <div class="col-xs-6 img-thumb"
                 ng-repeat="img in collection.images"
                 ng-class="{'col-md-6': selectedImageSrc == img.src, 'col-md-3': selectedImageSrc != img.src}"
                 ng-click="setSelectedImage(img.src)">
                <img ng-src="{{img.src}}" />
                <div class="caption">
                    <p>{{img.desc}}</p>
                </div>
            </div>
        </div>
    </div>
</div>