html {
  height: 100%;
  background: #141c24;
}
body {
  font-size: 12px !important;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: #fff;
  min-height: 100%;
  height: auto !important;
  background: #141c24;
}
p {
  font-size: 1.6rem;
  line-height: 2rem;
}
a {
  color: #f3ae73;
}
.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.app .ngview {
  position: relative;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #141c24;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #141c24;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px #000000;
  background: #fff;
}
background {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
}
background canvas {
  background: #141c24;
  height: 100%;
  width: 100%;
}
header {
  display: block;
  text-align: center;
  width: 100%;
}
header .siteheader {
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 200px;
  margin-bottom: 50px;
  -webkit-transition: all 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s;
}
header .navitem {
  display: inline-block;
  cursor: pointer;
  opacity: 0.9;
  vertical-align: top;
}
header .navitem .icon {
  display: none;
}
header .navitem .whiteicon {
  display: block;
}
header .navitem:hover,
header .navitem.active {
  opacity: 1;
}
header .navitem:hover .whiteicon,
header .navitem.active .whiteicon {
  display: none;
}
header .navitem:hover .icon,
header .navitem.active .icon {
  display: block;
}
header img {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 1rem;
  -webkit-transition: all 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s;
}
header p {
  display: block;
  margin: 0;
  font-size: 1.5rem;
}
header.active .siteheader {
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  opacity: 0;
  font-size: 0;
  -webkit-transition: all 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s;
}
header.active img {
  height: 70px;
  width: 70px;
  -webkit-transition: all 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s;
}
header.active .nav-label {
  display: none;
}
.sub-view-header {
  background: rgba(255, 255, 255, 0.1);
  margin: 1rem 0;
}
.sub-view-header h1 {
  margin: 0;
  vertical-align: middle;
  padding: 1rem 0;
}
.sub-view-header .navitem {
  padding: 0.5rem 0 0.5rem 0;
  margin: 0 2rem;
  vertical-align: middle;
}
.sub-view-header .navitem img {
  height: 40px;
  width: 40px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.sub-view-header .navitem p {
  display: inline-block;
  vertical-align: middle;
}
.color_green h1 {
  color: #b0c47f;
}
.color_green .active-sub {
  border-bottom: 5px solid #b0c47f;
}
.color_turkois h1 {
  color: #588c75;
}
.color_turkois .active-sub {
  border-bottom: 5px solid #588c75;
}
.color_red h1 {
  color: #da645a;
}
.color_red .active-sub {
  border-bottom: 5px solid #da645a;
}
.color_orange h1 {
  color: #f3ae73;
}
.color_orange .active-sub {
  border-bottom: 5px solid #f3ae73;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  header .siteheader {
    margin-top: 50px;
  }
}
.language-toggle {
  position: absolute;
  right: 30px;
  top: -50px;
  cursor: pointer;
  width: auto;
}
.language-toggle img {
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
}
.language-toggle p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 12px;
  margin-left: 5px;
}
.language-toggle:hover p {
  opacity: 0.7;
}
.hej {
  padding-top: 50px;
  position: relative;
}
.hej h1 {
  color: #588c75;
}
.hej .text-wrapper {
  vertical-align: middle;
  text-align: left;
  padding: 1rem;
}
.hej .text-wrapper .row {
  margin-bottom: 2rem;
}
.hej .text-wrapper .col-md-10 {
  padding: 0;
}
.hej .text-wrapper img {
  height: 3.5rem;
  display: inline-block;
}
.hej .text-wrapper p {
  display: inline-block;
}
.hej .img-wrapper {
  vertical-align: middle;
  padding-bottom: 3rem;
}
.hej .img-wrapper img {
  max-width: 100%;
}
.creative {
  margin-top: 1rem;
  padding-bottom: 3rem;
}
.creative .img-thumb {
  padding-bottom: 15px;
  padding-top: 15px;
  vertical-align: top;
  position: relative;
  -webkit-transition: all 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s;
}
.creative .img-thumb img {
  max-width: 100%;
  max-height: 100%;
}
.creative .img-thumb .caption {
  display: none;
  background: #141c24;
  padding: 1rem;
  width: 70%;
  position: absolute;
  bottom: 0;
  text-align: left;
}
.creative .img-thumb .caption p {
  font-size: 1.4rem;
}
.creative .img-thumb:hover .caption {
  display: block;
}
.creative .collection-header {
  display: block;
  text-align: left;
  color: #b0c47f;
}
.creative .ingress {
  font-weight: normal;
  font-family: 'Muli', sans-serif;
  color: #86919a;
  font-style: italic;
  font-size: 13px;
  max-width: 550px;
  margin: 0 auto;
  padding: 10px;
}
social .img-container {
  padding-bottom: 15px;
  padding-top: 15px;
  vertical-align: top;
  position: relative;
  -webkit-transition: all 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s;
}
social .img-container img {
  max-width: 100%;
}
social .img-container .caption {
  display: none;
  background: #141c24;
  padding: 1rem;
  width: 70%;
  position: absolute;
  bottom: 0;
  text-align: left;
}
social .img-container .caption p {
  font-size: 1.4rem;
}
social .img-container .caption .date {
  color: #da645a;
  opacity: 0.8;
}
social .img-container:hover .caption {
  display: block;
}
recept-list {
  text-align: center;
}
recept-list .header-wrapper {
  display: block;
  text-align: left;
  margin: 2rem 0;
  color: #b0c47f;
}
recept-list .ingress {
  font-weight: normal;
  font-family: 'Muli', sans-serif;
  color: #86919a;
  font-style: italic;
  font-size: 13px;
  max-width: 550px;
  margin: 0 auto;
  padding: 10px;
}
recept-list .tumme {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
recept-list .tumme .tumme-content {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  margin: 0.5rem;
  box-sizing: border-box;
}
recept-list .tumme .tumme-content img {
  opacity: 0.4;
  height: 3rem;
  width: 3rem;
}
recept-list .tumme .tumme-content h5 {
  font-size: 2rem;
}
recept-list .tumme .tumme-content .details {
  text-align: left;
}
recept-list .tumme .tumme-content:hover {
  background: rgba(255, 255, 255, 0.15);
}
recept-list .tumme.expanded {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
recept-list .tumme.expanded h5 {
  color: #b0c47f;
  margin: 0;
}
recept-list .tumme.expanded h5,
recept-list .tumme.expanded img {
  display: inline-block;
  vertical-align: bottom;
}
recept-list .tumme.expanded .ingress {
  display: block;
  text-align: center;
  margin: 1rem 0;
}
recept-list .tumme.expanded .ing > div {
  opacity: 0.8;
  font-style: italic;
  font-size: 1.5rem;
  margin: 1rem;
}
recept-list .tumme.expanded .ing > div p,
recept-list .tumme.expanded .ing > div img {
  display: inline-block;
  vertical-align: middle;
}
recept-list .tumme.expanded .ing > div p {
  margin: 0 0 0 0.5rem;
}
recept-list .tumme.expanded .ing > div img {
  height: 1rem;
  width: 1rem;
}
recept-list .tumme.expanded img {
  opacity: 1;
  height: 4rem;
  width: 4rem;
  margin-left: 0.5rem;
}
recept-list .tumme.expanded .description {
  margin: 2rem 0;
  line-height: 2.5rem;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
recept-list .tumme.expanded .link {
  margin: 2rem 0;
  text-align: center;
}
recept-list .tumme.expanded .link a:hover {
  color: #f3ae73;
}
.career-log.container {
  text-align: center;
}
.career-log.container .news-item {
  margin: 50px 0;
}
.career-log.container .content-wrapper {
  text-align: left;
}
.career-log.container .content-wrapper h2 {
  margin-top: 0;
}
.career-log.container .img-wrapper img {
  max-width: 100%;
  margin-bottom: 20px;
}
.career-log.container .video-wrapper iframe {
  width: 100%;
}
.portfolio .view {
  left: 0;
  right: 0;
  position: fixed;
  color: #fff;
  text-align: left;
}
.portfolio .view h1 {
  color: #f3ae73;
}
#nummer1 {
  background: transparent;
  margin-top: 350px;
  text-align: center;
}
#nummer1 .content {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 100%;
  padding: 50px 0;
}
#nummer1 .content .text {
  max-width: 400px;
  display: inline-block;
}
#nummer1 .content .text span {
  font-size: 30px;
  opacity: 0.7;
}
.portfolio-menu {
  position: fixed;
  left: 0;
  top: 50%;
  text-align: left;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 100px;
}
.portfolio-menu .menu-item {
  background: #f3ae73;
  padding: 5px;
  margin: 5px 0;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
}
.portfolio-menu .menu-item p {
  margin: 0;
}
.projects {
  background: rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
}
.projects .container {
  position: relative;
}
.projects .project-row {
  position: relative;
}
.projects .details {
  position: absolute;
  top: 210px;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 580px;
  opacity: 0;
  transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -webkit-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
}
.projects .details image-carousel {
  height: 580px;
}
.projects .details img {
  max-height: 100%;
  width: 100%;
}
.projects .details.visible {
  opacity: 1;
  transition: opacity 1s ease-in 1s;
  -moz-transition: opacity 1s ease-in 1s;
  -webkit-transition: opacity 1s ease-in 1s;
  -ms-transition: opacity 1s ease-in 1s;
}
.projects .project {
  padding-right: 0;
  padding-left: 0;
  height: 200px;
  margin-bottom: 0;
  transition: margin-bottom 0.5s ease-in 0.5s;
  -moz-transition: margin-bottom 0.5s ease-in 0.5s;
  -webkit-transition: margin-bottom 0.5s ease-in 0.5s;
  -ms-transition: margin-bottom 0.5s ease-in 0.5s;
  cursor: pointer;
  position: relative;
}
.projects .project .bg,
.projects .project .img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.projects .project .bg {
  background: #fff;
}
.projects .project .img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover cover;
}
.projects .project img {
  width: 100%;
}
.projects .project .title {
  width: 100%;
  bottom: 0;
  padding: 5px;
  position: absolute;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.71) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.71)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.71) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.71) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.71) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.71) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#82000000', GradientType=0);
}
.projects .project .title p {
  margin: 0;
  padding: 1rem;
  font-weight: 500;
}
.projects .project:hover .title {
  background: #000;
  color: #fff;
}
.projects .project.expand {
  margin-bottom: 600px;
  transition: margin-bottom 0.5s ease-in;
  -moz-transition: margin-bottom 0.5s ease-in;
  -webkit-transition: margin-bottom 0.5s ease-in;
  -ms-transition: margin-bottom 0.5s ease-in;
}
.projects .project.expand .title {
  background: #f3ae73;
  color: #fff;
}
.courses {
  text-align: left;
  margin-bottom: 300px;
}
.courses .category-wrapper {
  padding-right: 0;
  padding-left: 0;
}
.courses .category-wrapper h3 {
  margin-top: 0;
}
.courses .category-wrapper .category {
  background: rgba(255, 255, 255, 0.1);
  margin-right: 0.5rem;
  padding: 20px;
}
.courses .course {
  margin: 1rem 0;
  cursor: pointer;
}
.courses .course:hover span,
.courses .course:hover h5 {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
}
.courses .course h5 {
  margin-bottom: 0;
  font-size: 16px;
  opacity: 0.8;
  position: relative;
}
.courses .course h5 span {
  font-size: 20px;
  color: #f3ae73;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  left: -15px;
  top: -5px;
}
.courses .course .ingress {
  color: #f3ae73;
  font-size: 14px;
  transition: font-size 0.5s ease-in;
  -moz-transition: font-size 0.5s ease-in;
  -webkit-transition: font-size 0.5s ease-in;
  -ms-transition: font-size 0.5s ease-in;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .portfolio-menu {
    position: fixed;
    left: 0;
    top: auto;
    bottom: 0;
    text-align: center;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    width: 100%;
  }
}
/*# sourceMappingURL=site.css.map */