<!--<link href="/App/Modules/Portfolio/Education/Styles/news.css" rel="stylesheet" />-->
<div class="content-wrapper">
    <!--<div education></div>-->
    <div class="portfolio">
        <div class="view" id="nummer1" before-leave="opacity:1;" after-leave="opacity:0;" snap-time="-200">

            <div class="content">
                <div class="text">
                    <p>2007 började jag på Medieteknikprogrammet på Linköpings tekniska högskola. Nedan hittar du en samling av vad jag hittade på under den fem och ett halvt år långa vägen till examen.</p>
                    <div ng-click="goToView(1)">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="view projects" id="nummer2"
             enter-delay="300"
             leave-duration="500"
             intro-time="300"
             extra-height="400">
            <div class="container">
                <h1>Projekt</h1>
                <!--<div class="row">-->
                    <div ng-repeat="row in projects" class="row project-row">
                        <div ng-repeat="project in row" ng-class="{'open': project == selectedProject}">
                            <div class="col-xs-6 col-sm-3 project"
                                 ng-class="{'expand': project == selectedProject}"
                                 ng-click="setSelectedProject(project,$index)"
                                 ng-style="{'background-image': 'url('+project.img[0]+')'}">
                                <!--<img ng-src="{{project.img[0]}}" />-->
                                <div class="title">
                                    <p>{{project.title}}</p>
                                </div>
                            </div>
                            <div class="details" ng-class="{'visible':selectedProject && selectedProject == project}">
                                <div class="col-xs-6">
                                    <image-carousel uniq-id="carousel{{$index}}" images="project.img"></image-carousel>
                                    <!--<img ng-repeat="img in project.img" ng-src="{{img}}" />-->
                                </div>
                                <div class="col-xs-6">
                                    <h2>{{project.title}}</h2>
                                    <p ng-bind-html="project.description"></p>
                                    <a ng-if="project.rapportLink" href="{{project.rapportLink}}" target="_blank">Länk till rapporten</a> <br />
                                    <a ng-if="project.demoLink" href="{{project.demoLink}}" target="_blank">Länk till demo</a>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                    
                <!--</div>-->

            </div>
        </div>
        <div class="view projects" id="nummer3" enter-delay="300"
             leave-duration="500"
             intro-time="300"
             extra-height="400">
            <div class="container">
                <h1>Meriter</h1>
                <!--<div class="row">-->
                <div ng-repeat="row in meriter" class="row project-row">
                    <div ng-repeat="project in row" ng-class="{'open': project == selectedMerit}">
                        <div class="col-xs-6 col-sm-3 project"
                             ng-class="{'expand': project == selectedMerit}"
                             ng-click="setSelectedMerit(project,$index)"
                             ng-style="{'background-image': 'url('+project.img[0]+')'}">
                            <!--<img ng-src="{{project.img[0]}}" />-->
                            <div class="title">
                                <p>{{project.title}}</p>
                            </div>
                        </div>
                        <div class="details" ng-class="{'visible':selectedMerit && selectedMerit == project}">
                            <div class="col-xs-6">
                                <image-carousel uniq-id="carousel{{$index}}" images="project.img"></image-carousel>
                                <!--<img ng-repeat="img in project.img" ng-src="{{img}}" />-->
                            </div>
                            <div class="col-xs-6">
                                <h2>{{project.title}}</h2>
                                <p>{{project.description}}</p>
                            </div>

                        </div>
                    </div>

                </div>

                <!--</div>-->
            </div>
        </div>
        <div class="view" id="nummer4" intro-time="300">
            <div class="container courses">
                <h1>Övriga kurser</h1>
                <div ng-repeat="category in courseData" class="col-xs-12 col-sm-6 col-md-3 category-wrapper">
                    <div class="category">
                        <h3>{{categories[$index]}}</h3>
                        <div ng-repeat="item in category" class="course" ng-click="setSelectedCourse(item)" ng-class="{'open': item.title == selectedCourse.title}">
                            <h5>{{item.title}}<span ng-show="item.title != selectedCourse.title">+</span><span ng-show="item.title == selectedCourse.title">-</span></h5>
                            <p class="ingress" ng-show="item.title == selectedCourse.title">{{item.description}}</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="portfolio-menu">
        <div class="menu-item" ng-click="goToView(0)" id="menu-nummer1">
            <p>Start</p>
        </div>
        <div class="menu-item" ng-click="goToView(1)" id="menu-nummer2">
            <p>Projekt</p>
        </div>
        <div class="menu-item" ng-click="goToView(2)" id="menu-nummer3">
            <p>Meriter</p>
        </div>
        <div class="menu-item" ng-click="goToView(3)" id="menu-nummer4">
            <p>Övriga kurser</p>
        </div>
    </div>



</div>

<!--education-->
<!--<script src="/App/Modules/Portfolio/Education/Scripts/Inheritance.js"></script>
<script src="/App/Modules/Portfolio/Education/Scripts/newsData2.js"></script>
<script src="/App/Modules/Portfolio/Education/Scripts/news.js"></script>
<script src="/App/Modules/Portfolio/Education/Scripts/jquery.isotope.js"></script>-->
