
<div class="newsWrapper">
    <h5 class="newsIngress">2007 började jag på Medieteknikprogrammet på Linköpings tekniska högskola. Nedan hittar du en samling av vad jag hittade på under den fem och ett halvt år långa vägen till examen.</h5>
    <section id="options" class="clearfix combo-filters">
        <div class="topFilter">
            <div class="option-combo category">
                <p>Välj kategori:</p>
                <ul class="filter option-set clearfix " data-filter-group="category">
                    <li><a href="" data-filter-value="">alla</a>

                    <li><a href="" data-filter-value=".project" class="elemSelected">projekt</a>

                    <li><a href="" data-filter-value=".meriter">meriter</a>

                    <li><a href="" data-filter-value=".kurser">kurser</a>
                </ul>
            </div>
        </div>
        <div class="option-combo time">
            <p>Välj årskurs:</p>
            <ul class="filter option-set clearfix " data-filter-group="time">
                <li><a href="" data-filter-value="" class="elemSelected">Alla</a>

                <li><a href="" data-filter-value=".ak1">åk1</a>

                <li><a href="" data-filter-value=".ak2">åk2</a>

                <li><a href="" data-filter-value=".ak3">åk3</a>

                <li><a href="" data-filter-value=".ak4">åk4</a>

                <li><a href="" data-filter-value=".ak5">åk5</a>

            </ul>
        </div>
    </section> <!-- #options -->

    <div id="container" class="clearfix"></div>
</div>
