<div career-log class="container it-olika career-log">
    <div class="row">
        <a href="/#/Portfolio/CareerLog">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Tillbaka
        </a>
    </div>
    <div class="row">
        <h1>IT behöver olika</h1>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide1.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>Hej, jag heter Tina Durmén Blunt och är Civilingenjör i Medieteknik på Linköpings universitet campus Norrköping. Idag jobbar jag som webbutvecklare och ux-designer på IT-byrån Gaia här i Östergötland.  </p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide2.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>
                Det här är min pappa. Han heter Claes och är 64 år gammal.
            </p>
            <p class="strong">
                Han tillhör stereotypen för en bra bilförare.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide3.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>
                Det här är min mamma. Hon heter Anu och är 68 år gammal.
            </p>
            <p class="strong">
                Hon tillhör inte stereotypen för en bra bilförare.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide4.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>
                Min mamma har haft körkort 4 år längre än min pappa. Det finns ingenting i våra gener som gör att kvinnor skulle vara sämre än män på att köra bil. Enligt statistiken är det till och med mindre sannolikhet att hon krockar. Men så fort vi har åkt någonstans har min pappa ALLTID kört. Förutom en gång i halvåret när han har druckit öl, då får mamma köra. Då sitter han bredvid och håller ömsom andan och ömsom säger ”oj!”, ”akta!”, ”sväng!” osv.
            </p>
            <p>
                Hur ska min mamma bli bättre på att köra bil tror ni? Ska hon köra mer kanske? Tror ni att hon tycker det är lätt att sätta sig vid ratten? Ser hon fram emot det? Känner hon sig säker när hon sitter där en gång i halvåret?
            </p>
            <p>
                Nej hon sätter sig alltid i passagerarsätet, det är lättare och bekvämare för alla. Och saker kan väl få vara på det sättet. Hon vill inte bli någon himla Kenny Bräck eller Mika Häkkinen.  
            </p>
            <p>
                Men det finns flera problem med att hon sätter sig där. Till att börja med blir hon ju en sämre bilförare. Hon kör för sällan och får aldrig chansen att bli bekväm och få rutin i sin körning.
            </p>
            <p>
                Dessutom för hon vidare till mig och mina syskon att det är mannen som kör, för han kan det bäst. Alltså redan innan jag började köra bil var jag uttalat sämre än mina killkompisar på det. Även fast ingen av oss någonsin kört bil.
            </p>
            <p>
                Alternativet att drömma om att bli den nya Kenny Bräck är även det helt uteslutet för mig, hur bra jag än hade passat för det.
            </p>
            <p>
                Allt detta resulterar i att jag nu när jag har egen bil automatiskt sätter mig i passagerarsätet och låter min pojkvän köra. Det är min plats. Så är det. Jag är en sämre bilförare. Jag är otillräcklig i bilvärlden om man jämför med manliga förare. Så är det.
            </p>

        </div>
    </div>


    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide5.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>Det här är min gamla klasskompis. Han heter Danne och är 31 år gammal . </p>
            <p class="strong"> Danne ingår i stereotypen för en person i IT-världen.</p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide6.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>
                Det här var jag. Här var jag 19 år gammal. Idag är jag 29. Jag gillar sport, rita, sy kläder och dricka öl. 7 kvällar i veckan hade jag ägnat åt att spela basket innan jag flyttade till Norrköping. Jag hade aldrig sett programmering innan jag började på Universitet och trodde jag skulle få hålla på med film och Adobeprogrammen. Så blev det inte.
            </p>
            <p>
                Det enda jag visste va att jag ville jobba med något kreativt och tänkte att den digitala världen borde ha lite sånt.
            </p>
            <p class="strong">
                Jag ingår inte i stereotypen för en person i IT-världen.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide7.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>
                Det här är Folkparken. Hit gick jag ibland för att ”ta luft”. Parken ligger några minuter från skolan och är perfekt om man vill kunna strosa runt planlöst och ostört på stora gräsytor.
            </p>
            <p>
                Första gången jag gick hit var efter man fått svar på första programmeringstentan. Då mina klasskompisar dragit till Världens bar (där dom har billig ölkanna) för att fira. Men jag var tvungen att gå min runda för att tränga bort gråten. Jag är inte sån som gråter över betyg men jag hade aldrig misslyckats så brutalt i skolan innan. Jag kände mig helt jävla puckad. Hur kunde dom andra fatta den här skiten. Är jag så jävla dum alltså?
            </p>
            <p>
                I ärlighetens namn hade jag nog inte pluggat så mycket som jag borde. Man kan säga att tentatillfället var då jag körde bil för att den som brukade köra hade druckit öl. Alla labbar innan hade jag suttit bredvid. Försökt hänga med men inte vågat fråga när jag inte fattade i rädsla för att sakta ner eller verka dum.
            </p>
            <p>
                Efter att jag kuggade min första programmeringstenta bestämde jag mig att det där inte var någonting för mig. Jag skulle bara ta mig igenom det. Klara labbar: Fråga om hjälp och kanske sitta bredvid de som kan. Det var som att ständigt ligga med huvudet precis över vattenytan. Chippa efter luft. Överleva programmeringen
            </p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide8.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>Saker jag brukade tänka</p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide9.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">

        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide10.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>Nu kanske det bara ligger i min personlighet att vara självkritisk och inte våga ta plats. Men jag tycker inte omgivningen pushade mig i rätt riktning heller. Labbassar gav upp och skrev min kod istället för att förklara, vilket aldrig hände när grabbarna var lika vilsna som jag. Och labbpartners som LÄT mig sitta bredvid.</p>
            <p>Det hade krävts så lite. En push. Kanske två. Nån som kunde få mig att tänka i de andra banorna, de som ledde dit jag var menad att vara. De banorna som i mitt huvud inte ens fanns tillgängliga för mig.</p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide11.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">

        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide12.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p class="strong">
                Mitt Ahaa-moment ett
            </p>
            <p>
                Jag brukade labba med min kompis Catta, men det gick inte så bra för oss så vi försökte hitta andra som ville ha oss. I en kurs fick jag vara med Emil och Dan. Idag jobbar Dan på Pixar i San Fransisco. Emil jobbar på Saab med saker som han inte får prata om. Dom var ena duktiga prickar.
            </p>
            <p>
                Jag var livrädd, vågade inte skriva en rad kod utan tog min givna plats på stolen bredvid den som kodade. Men vad jag insåg när jag satt där var att båda fastnade. Hela tiden. Jag insåg att den enda skillnaden var att dom inte gav upp. Dom googlade, testade, googlade igen, testade igen, skrev ut, googlade. Tills slut funkade koden.
            </p>
            <p>
                Hm, dom var inga supersnillen som bara kunde allt från början. Med största sannolikhet hade vi varit på samma nivå en gång i tiden. Men jag hade gett upp, dom hade googlat.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide13.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p class="strong">
                Mitt Ahaa-moment två
            </p>
            <p>
                Det andra ahaa-momentet var exjobbet. Några omtentor gjorde att jag hamnade i ofas jämte dom andra i min klass och jag hade ingen att göra exjobbet med. Jag var så livrädd att jag seriöst funderade på att hoppa av utbildningen för att slippa göra det själv. Men nu i efterhand förstår jag att det var det bästa som kunna hända mig.
            </p>
            <p>
                Jag gjorde en visualisering av bloggdata för Twingly här i stan. En webbapplikation. Jag hade aldrig programmerat webb innan, en liten detalj som spädde på paniken. Det roliga med programmering är att kan man googla och inte ger upp så lossnar det. Vilket det även gjorde för mig.
            </p>
            <p>
                Vad jag lärde mig är att jag kan själv. Och i och med mitt helt egna exjobb hade jag för första gången ett kvitto på det. Ingen annan. Det gick dessutom skitbra. Stipendie för Sveriges bästa exjobb inom Medieteknik. Boom.
            </p>
            <p>
                Men smaken var bitterljuv. Jag började tänka på varför hade jag inte gjort det tidigare? Var hade jag varit? Vad hade jag kunnat? Kanske hade jag dessutom sluppit ligga med näsan precis över vattenytan hela tiden. Kanske hade jag till och med fått njuta lite av skolan. Ha kul i skolan.
                Det var så uppenbart att jag hade lagt energi på att försöka komma ifrån och undvika något jag klarade av.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide14.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>
                Jag har varit på arbetsmarknaden som Medietekniker två gånger i mitt liv.
            </p>
            <p>
                Första gången var direkt efter exjobbet. Andra gången när första jobbet gick i konkurs.
                Första gången gick på intervjuer hos 7 företag. ETT hade jag sökt själv. Fick 6 av 7.
            </p>
            <p>
                Andra gången gick jag på intervjuer hos 9 olika företag. Då tog jag det första jag fick, Gaia, det var ju det jag ville ha från början. Då gick jag alltså på intervjuer hos 9 olika företag. INGET hade jag sökt själv. Företag ringde, kollegor rekommenderade mig och vissa hade haft koll på mig och ringde när konkursen blev ett faktum.
            </p>
            <p>
                Skryt lagom, tänker ni, och det tänker jag fan-i-gatan göra! Det är en ganska jäkla outstanding bra för att vara en tjej som är “helt malplacerad”, ”värdelös” på programmering och ”aldrig kommer få något jobb”. 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide15.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>
                Jag hade hela tiden jämfört mig med Danne/stereotypen och känt mig otillräcklig. Nu kan jag inte annat än känna mig arg på världen för att den fick mig att känna mig skit.
            </p>
            <p>
                Främst är jag arg på den för att den fick mig att tro att det inte fanns plats för mig när jag sen kom ut på arbetsmarknaden och insåg hur mycket branchen svälter efter tjejer, kreativitet och mångkultur. Hur den uppfostrade mig till att var jag än sa, tog ställning till eller syntes alltid känna att jag behövde ursäkta mig. Jag fick vara där, men inte köra bilen.
            </p>
            <p>
                Jag får i genomsnitt ett mail i månaden från företag som vill att jag ska komma till dom. Inte ett skämt!
            </p>
            <p>
                Som programmerare eller person i IT-branchen skapar vi en nytt universum. En parallellt digitalt universum. Vi bygger den från grunden med nya miljöer, funktioner, system, lagar, regler, material.
            </p>
            <p>
                Att tro att det endast behövs en typ av människa för att se behoven, anpassa, hjälpa, bygga, lära, leda är helt galet. Det är som att säga att endast vita europeiska män i kostym eller amerikanska hipsters i 30-40årsåldern får jobba...ingen annan.

                Att ha olika bakgrund, kunskap, utbildning, synsätt....det är det som gör att vårt reella samhälle har kommit så långt. Det är så sjukt osmart att inte tänka likadant när man bygger cyberuniversum. Många människor idag lever ju större del av sin tid i det universumet än i verkligheten.
            </p>
            <p>
                Danne behövs i branschen... men Tinor gör det också!!! Och varför ska det vara så att killarna ska sitta vid ratten?? Eller varför får dom den gratis från början??!!

            </p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide16.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>
                Idag kör jag bil hälften av gångerna när vi ska någonstans. I början var det jättejobbigt. Ta bilnycklarna och säga ”Jag kör!!”. Körde nervöst, helspänn och fick motorstopp i tid och otid. Idag är jag en bra bilförare. Jag tycker att det är kul att köra bil och känner mig bekväm och avslappnad vid ratten.  
            </p>
            <p>
                --------------------------------------------
            </p>
            <p>
                Nej, nu ljög jag. Det var aldrig så att jag sa "Jag kör utropstecken utropstecken". Det var min sambo som sa "Hälften av gångerna ska du sitta vid ratten, bara så du vet". Jag kommer ihåg hur skönt jag tyckte det var. Helt plötsligt slapp jag behöva jobba för att bevisa att jag kan köra bil. Att jag "inte kör som en tjej"(wtf!?!?), för att rättfärdiga att jag skulle få sitta vid ratten. Nu hade jag den. Bara sådär. Vare sig jag fick motorstopp eller körde för långsamt. Sjukt skön känsla: Att få ratten gratis.
            </p>

        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide17.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p>
                Idag jobbar jag som programmerare. I början var det jättejobbigt. Ta tangentbordet och säga, ”Jag skriver!”. Jag var osäker, skrev långsamt och kände mig dålig. Idag är jag en duktig programmerare. Jag tycker det är kul att programmera.
            </p>
            <p>
                --------------------------------------------
            </p>
            <p>
                Jag vill inte hetsa eller tvinga in er på en bana som är fel. Det är inte därför jag är här, att försöka tvinga er att bli programmerare. Jag vill peppa i att inte begå samma misstag som jag gjorde. Att alltid sätta mig i passagerarsätet. Jag är här för att visa att ni faktiskt äger platsen vid ratten.
            </p>
            <p>
                Och för er som redan äger ratten och har stenkoll på programmering och köra bil: FORTSÄTT och peppa andra att sätta sig där. Bli nästa Häkkinen eller Steve Jobs, Zuckerberg eller Bill Gates. Då kanske förarsätet blir lite mindre skrämmande och mer tillgängligt för andra.
            </p>
            <p>
                Jag vill peppa er till att våga ta platsen vid ratten, och våga visa att stereotypen inkluderar så många fler än den gör idag.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="img-wrapper col-xs-12 col-sm-5">
            <img src="/App/Modules/Portfolio/CareerLog/Content/ITOlika/Slide18.png" />
        </div>
        <div class="col-xs-12 col-sm-7 content-wrapper">
            <p class="strong">
                Välkomna till ett grymt universum! Bra val!
            </p>
        </div>
    </div>

    <div class="row">
        <a href="/#/Portfolio/CareerLog">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Tillbaka
        </a>
    </div>

</div>
