<div class="container hej">
    <div class="row">
        <div class="text-wrapper col-xs-12 col-sm-6">
            <div class="row">
                <img src="App/Modules/Hej/Content/hi.svg" class="col-xs-2" />
                <p class="col-xs-10">Jag heter Tina Durmén Blunt och är en glad (se bild) och ambitiös<a href="#/Portfolio/CV"> (se portfolio)</a> tjej.</p>
            </div>

            <div class="row">
                <img src="App/Modules/Hej/Content/study.svg" class="col-xs-2" />
                <p class="col-xs-10">
                    Jag är utbildad civilingenjör i Medieteknik med huvudsaklig inriktning inom visualisering, ux/användbarhet, interaktionsdesign och programutveckling.
                </p>
            </div>

            <div class="row">
                <img src="App/Modules/Hej/Content/work.svg" class="col-xs-2" />
                <p class="col-xs-10">
                    Jag jobbar som konsult på IT-byrån <a href="http://www.gaia.se/">Gaia</a> i Norrköping, där jag främst ägnar mig åt front end-utveckling, användbarhet och webbdesign.
                    Jag älskar kombinationen av det tekniska och kreativa i mitt jobb men vissa perioder är det bara koda för hela slanten som gäller. Det är då innehållet till den här sidan kommer till.
                    Ett bitande behov av att få utlopp för min kreativitet gör att antingen symaskinen, gitarren, pennan eller datorn åker fram.
                </p>
            </div>
            <div class="row">
                <img src="App/Modules/Hej/Content/contact.svg" class="col-md-2 col-xs-2" />
                <p class="col-xs-10">Vill du komma i kontakt med mig gör du det bäst på <a href="mailto:tinablunt@gmail.com">tinablunt@gmail.com</a></p>
            </div>

        </div>
        <div class="img-wrapper col-xs-12 col-sm-6">
            <img src="App/Modules/Hej/Content/tina.jpg" />
        </div>
    </div>
</div>
