<div class="content-wrapper game">
    <div class="showOnPhone">
        <p>
            Här kan du spela mitt asfräna CV-spel, men tyvärr bara när du surfar från en dator :( Klicka på länken nedan så kan du i alla fall läsa mitt CV, dock på ett mycket tråkigare sätt.
        </p>
    </div>

    <div class="cvLinks">
        <a href="/App/Modules/Portfolio/CvGame/pdf/Tina_Durmen_Blunt_CV.pdf" target="_blank">Klicka här för att se mitt CV i pdf-format istället (Obs! Tråkigare)</a>
    </div>
    <div class="container hideOnPhone">
        <div class="main" cvgame>
            <!--<canvas id="gameCanvas">Tyvärr ser du inte mitt coola CV-spel för att du har en alldeles för dåååålig browser.</canvas>-->
        </div>
        <img class="infoImg" src="/App/Modules/Portfolio/CvGame/img/erf.png" height="70" />
        <div class="itemInfo"></div>
        <img class="coinImg" src="/App/Modules/Portfolio/CvGame/img/KUNS.png" height="70" />
        <div class="coinInfo"></div>

        <div class="fail"></div>
        <div class="clickinfo"></div>
    </div>

   
    <div id="push"></div>
    <canvas id="bitmap" style="display:none"></canvas>
</div>



